<% if @trip.errors.any? %>
  <div class="error_messages">
    <h2>Form is invalid</h2>
    <ul>
      <% @trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  
<%= form_for @trip do |f| %>

    <%= f.label :route_id %>
    <%= f.text_field :route_id %>
    <%= f.label :driver_id %>
    <%= f.text_field :driver_id %>
    <%= f.label :bus_id %>
    <%= f.text_field :bus_id %>
    <%= f.label :departure %>
    <%= f.text_field :departure %>

  <div class="actions"><%= f.submit 'Submit', :class => 'btn btn-primary' %></div>
<% end %>