<table class="table">
  <tr>
    <td><b>Route</b></td>
    <td><b>Start</b></td>
    <td><b>End</b></td>
    <td><b>Time</b></td>  
    <td><b>Driver</b></td>
    <td><b>Bus Number</b></td>  
  </tr>
  <% trips.each do |trip| %>
    <tr>
      <td><%= trip.route.number %></td>
      <td><%= trip.route.origin %></td>
      <td><%= trip.route.destination %></td>
      <td><%= trip.departure.localtime.strftime("%x %H:%M") %></td>
      <td><%= trip.driver.user.first_name %></td>
      <td><%= trip.bus.license_number %></td>
      <td><%= link_to 'Add Me', new_trip_passenger_path(trip), :class => 'btn btn-mini btn-success' %></td>
      <% if can? :update, trip %>
        <td><%= link_to 'Edit', edit_trip_path(trip), :class => 'btn btn-mini btn-info' %></td>
      <% end %>
      <% if can? :destroy, trip %>
        <td><%= link_to 'Delete', trip, :method => :delete, :class => 'btn btn-mini btn-warning', :confirm => "Are you sure you want to delete trip?" %></td>
      <% end %>
    </tr>
  <% end %>

</table>