<% if @rider.errors.any? %>
  <div class="error_messages">
    <h2>Form is invalid</h2>
    <ul>
      <% @rider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @rider do |f| %>
  <div class="field">
    <%= f.label :balance %><br />
    <%= f.text_field :balance %>
  </div> 

  <div class="actions"><%= f.submit 'Submit', :class => 'btn btn-primary' %></div>
<% end %>