<% provide :title, "Riders" %>

<% if can? :create, Rider %>
  <%= link_to "Create rider", new_rider_path, :class => 'btn btn-success pull-right' %>
<% end %>

<table class="table">
  <tr>
    <td><b>Balance</b></td>
    <td><b>User ID</b></td>
  </tr>
  <% @riders.each do |rider| %>
    <tr>
      <td><%= rider.balance %></td>
      <td><%= rider.user_id %></td>

      <% if can? :update, rider %>
        <td><%= link_to "Edit", edit_rider_path(rider), :class => 'btn btn-mini btn-info'  %></td>
      <% end %>
      <% if can? :destroy, rider %>
        <td><%= link_to "Delete", rider, :method => :delete, :class => 'btn btn-mini btn-warning', :confirm => "Are you sure you want to delete this rider profile?" %></td>
      <% end %>
    </tr>
  <% end %>

</table>

