<% if @route.errors.any? %>
  <div class="error_messages">
    <h2>Form is invalid.  One or more errors must be corrected:</h2>
    <ul>
      <% @route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  
<%= form_for @route do |f| %>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :origin %><br />
    <%= f.text_field :origin %>
  </div>
  <div class="field">
    <%= f.label :destination %><br />
    <%= f.text_field :destination %>
  </div>
  <div class="field">
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </div>

  <div class="actions"><%= f.submit 'Submit', :class => 'btn btn-primary' %></div>
<% end %>
