<% provide :title, "Routes" %>

<table class="table">
  <tr>
    <td><b>Route Number</b></td>
    <td><b>Origin</b></td>
    <td><b>Destination</b></td>
    <td><b>Path</b></td>    
  </tr>
  <% @routes.each do |route| %>
    <tr>
      <td><%= route.number %></td>
      <td><%= route.origin %></td>
      <td><%= route.destination %></td>
      <td><%= route.path %></td>      

      <td><%= link_to 'Edit', edit_route_path(route) %></td>
      <td><%= link_to 'Delete', route, :method => :delete, :confirm => "Are you sure you want to delete route #{route.number}?" %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Create route', new_route_path, :class => 'btn btn-primary' %>
