<% provide :title, "Drivers" %>

<% if can? :create, Driver %>
  <%= link_to "Create driver", new_driver_path, :class => 'btn btn-success pull-right' %>
<% end %>

<table class="table">
  <tr>
    <td><b><%= link_to "Trip Assignment" %></b></td>
    <td><b>First Name</b></td>
    <td><b>Last Name</b></td>
    <td><b>Phone</b></td>
    <td><b>Supervisor</b></td>
  </tr>
  <% @drivers.each do |driver| %>
    <tr>
      <td><%= "driver.user.first_name" %></td>
      <td><%= "driver.user.last_name" %></td>
      <td><%= "driver.user.phone" %></td>
      <td><%= driver.supervisor %></td>

      <% if can? :update, driver %>
        <td><%= link_to "Edit", edit_driver_path(driver), :class => 'btn btn-mini btn-info'  %></td>
      <% end %>
      <% if can? :destroy, driver %>
        <td><%= link_to "Delete", driver, :method => :delete, :class => 'btn btn-mini btn-warning', :confirm => "Are you sure you want to delete this driver?" %></td>
      <% end %>
    </tr>
  <% end %>

</table>
